/*======== Start Header =======*/
:root{
    --blue: #8f1ae8;
    --white: #fff;
    --ofwhite: #fafbfc;
    --grey : rgb(119, 126, 144);
    --hover : rgba(0, 0, 0, 0.04);
    --box-sh: #0000005e;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 8rem;
    
}
header .svg__icon{
    display: none;
    width: 6rem;
}
header .svg__icon path{
    fill: var(--white);
    
} 

.header_link .header_menubar{
    position: relative;
}

.header_link .header_menubar .header_menubar__icon{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header_link .header_menubar .header_menubar__icon svg{
    color: var(--white);
    font-size: 1.3rem;
}
.header_link .header_menubar nav{
    position: absolute;
    background: var(--ofwhite);
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 11rem;
    left: -280%;
    top: 3.8rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px var(--box-sh);
    opacity: 0;
    z-index: -1;
    transform: none;
    transition: all 262ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 174ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 144px 0px
}
.header_link .header_menubar nav::before{
    content: "";
    display: block;
    position: absolute;
    top: -1.4rem;
    right: 0.5rem;
    width: 0.1rem;
    border-style: solid;
    border-width: 0.8rem;
    border-color: transparent transparent var(--ofwhite) transparent;
    z-index: 9;
}
.header_link .header_menubar .ds-none{
    opacity: 1;
    z-index: 100;
}
.header_link .header_menubar nav a{
    text-decoration: none;
    color: var(--black);
    display: var(--black);
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--grey);
    width: 100%;
    padding: 0.8rem 0.5rem;
}
.header_link .header_menubar nav a:hover{
    background: var(--hover);
}
header .header_link > a{
    background: var(--blue);
    color: var(--white);
    display: block;
    padding: 0.8rem 0.8rem;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 1.3rem;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
header .header_link a:hover{
    background-color: rgb(115, 17, 189);
}
/*======== End Header =======*/

@media (min-width: 1550px) {
    header{
        padding: 1.5rem 15rem;
        
    }
}
@media (max-width : 1100px) {
    header {
        padding: 1.5rem 3rem;
    }
}
@media (max-width : 768px) {
    header{
        background: var(--green);
        justify-content: center ;
        padding: 3rem 0rem 6rem;
    }
    header .Header_back{
        position: absolute;
        top: 2rem;
        left: 2rem;
        color: var(--white);
    }
    header .svg__icon{
        display: block ;
    }
    header > a{
        display: none;
    }
    header .header_link > a {
    display: none;
    }
    .header_link .header_menubar .header_menubar__icon{
        display: none ;
    }
    .header_link .header_menubar nav{
        display: none;
    }
}
@media (max-width: 630px){
    header {
        padding: 3rem 0rem 6rem;
    }
}